#about {
    //margin: 20px;
    //margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container:first-child {
        margin-top: 50px;
        z-index: 1;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center; /* Center the grid horizontally */
        align-items: center; /* Center the grid vertically */
    }
    
    .container:first-child > * {
        align-items: center;
        background-image: url("/images/Water_Block_transparent80.png");
        background-size: contain;
        width: $block-size;
        height: $block-size;
        padding: 20px;
        position: relative; /* Add position relative */
        overflow: hidden;
        color: transparent;
        border: 3px solid $color-background;
        text-shadow: 2px 2px transparent;
        transition:width 0.75s ease-in-out, height 0.75s ease-in-out; /* Add width and height to the transition */
        &:hover {
            z-index: 50;
            width: $block-size * 3.25;
            height: $block-size * 3.25;
            color: $color-background;
            text-shadow: 1px 1px $color-background;
            a {
                color: $color-secondary;
            }
        }
        a {
            color: transparent;
            text-decoration: none;
            &:hover {
                color: $color-primary-alt;
                text-shadow: 1px 1px $color-background;
            }
        }
    }

    .container:first-child > :nth-child(1) {
        background-image: url("/images/Stone_Block.png");
    }

    .container:first-child > :nth-child(2) {
        background-image: url("/images/Lava_Block.png");
    }

    .container:first-child > :nth-child(3) {
        background-image: url("/images/Desert_Block.png");
    }

    .container:first-child > :nth-child(4) {
        background-image: url("/images/ice_Block_transparent90.png");
    }

    .container:first-child::after {
        content: ""; /* Required for the pseudo-element */
        grid-column: 3; /* Place the fake element in the last column */
        background-image: url("/images/Green_Block.png"); /* Set the background image for the fake element */
        background-size: contain;
        width: $block-size; /* Set the width */
        height: $block-size; /* Set the height */
        position: relative; /* Add position relative */
        overflow: hidden;
        color: transparent;
        border: 3px solid $color-background;
        transition: width 0.75s ease-in-out, height 0.75s ease-in-out; /* Add width and height to the transition */
        z-index: 0; /* Ensure the fake element is below other elements */
    }

    .container:last-child {
        margin-top: 100px;
        &> :nth-child(-n+3) {
            display: grid;
            grid-template-columns: auto auto; /* Two columns for the grid with automatic width */
            justify-items: center; /* Center items horizontally */
            align-items: center; /* Center items vertically */
            background-image: url("/images/Stone_Block.png");
            background-size: contain;
            //width: 50%;
            //transform: translateX(50%);
            height: 200px;
            padding: 10px;
            border: 3px solid $color-background;
            text-shadow: 1px 1px 1px $color-background;
            
            &:nth-child(2) {
                background-image: url("/images/Lava_Block.png");
                padding: 10px 125px 10px 125px;
            }
        }

        &:nth-child(2) {
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center; /* Center horizontally */
                height: 1000px;
                align-items: center; /* Center vertically */
                background-color: $color-fade-sky;
                margin: 40px;
                box-shadow: 0px 0px 60px 100px $color-fade-sky; /* Outer border */
                li {
                    position: absolute;
                    background-image: url("/images/Leaves_Block.png");
                    width: $block_size;
                    height: $block_size;
                    background-size: contain;
                    background-repeat: no-repeat;
                    text-overflow: wrap;
                    overflow: hidden;
                    text-align: center;
                    padding: 10px;
                    font-size: $font-size-text*1.1;
                    font-family: 'minecraft-title', sans-serif;
                    text-shadow: 2px 2px 0px $color-background;
                    &:nth-child(1) {
                        transform: translateY($block_size * -3);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -2.75);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(2) {
                        transform: translateY($block_size * -2) translateX(0px);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1.75);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(3) {
                        transform: translateY($block_size * -2) translateX($block_size);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1.75) translateX($block_size);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(4) {
                        transform: translateY($block_size * -2) translateX($block_size * -1);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1.75) translateX($block_size * -1);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(5) {
                        transform: translateY($block_size * -1);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(6) {
                        transform: translateY($block_size * -1) translateX($block_size);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1) translateX($block_size);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(7) {
                        transform: translateY($block_size * -1) translateX($block_size * -1);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1) translateX($block_size * -1);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(8) {
                        transform: translateY($block_size * -1) translateX($block_size * -2);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1) translateX($block_size * -2);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(9) {
                        transform: translateY($block_size * -1) translateX($block_size * 2);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * -1) translateX($block_size * 2);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(10) {
                        transform: translateY(0px) translateX(0px);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY(0px) translateX(0px);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(11) {
                        transform: translateY(0px) translateX($block_size);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY(0px) translateX($block_size);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(12) {
                        transform: translateY(0px) translateX($block_size * -1);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY(0px) translateX($block_size * -1);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(13) {
                        transform: translateY(0px) translateX($block_size * -2);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY(0px) translateX($block_size * -2);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(14) {
                        transform: translateY(0) translateX($block_size * 2);
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY(0px) translateX($block_size * 2);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(15) {
                        transform: translateY($block_size * 1) translateX(0px);
                        background-image: url("/images/Wood_Block.png");
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * .9) translateX(0px);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(16) {
                        transform: translateY($block_size * 2) translateX(0px);
                        background-image: url("/images/Wood_Block.png");
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * 1.8) translateX(0px);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                    &:nth-child(17) {
                        transform: translateY($block_size * 3) translateX(0px);
                        background-image: url("/images/Wood_Block.png");
                        transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
                        &:hover {
                            z-index: 50;
                            transform: scale(1.1) translateY($block_size * 2.8) translateX(0px);
                            background-image: url("/images/Empty_Block.png");
                        }
                    }
                }
            }
        }
    }
}

#about .container:last-child > :nth-last-child(-n+2) {
    position: relative;
    display: grid;
    grid-template-columns: auto auto; /* Two columns for the grid with automatic width */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-image: url("/images/Stone_Block.png");
    background-size: contain;
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 3px solid $color-background;
    text-shadow: 1px 1px 1px $color-background;
    padding: 0px 100px 0px 100px;
}

#about .container:last-child > :nth-last-child(1) {
    background-image: url("/images/Lava_Block.png");
    padding: 10px;
}