.page-footer {
    background-image: url("/images/Stone_Block.png");
    color: $color-background;
    padding: $padding; /* Use padding variable */
    background-repeat: repeat-x; /* Repeat background image horizontally but not vertically */
    background-size: contain; /* Make the background image size fit the container */
    display: flex; /* Use flexbox to center content horizontally and vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

    .container {
        width: 50%; /* Adjust the width of the container */
        text-align: center; /* Center the content inside the container */
        display: flex; /* Use flexbox to control layout */
        flex-direction: column; /* Align content vertically */
        margin-top: 150px;
        p {
            width: 400px;
            margin: 0 auto; /* Center the paragraph horizontally */
            border: 5px solid $color-background;
            background-color: $color-primary;
            padding: 10px;
            height: 200px;
            transition: transform 0.3s ease; /* Add transition for hover effect */
            transform-origin: center bottom; /* Set scaling origin */

            &:nth-child(1) {
                margin-top: -75px;
                border-radius: 20px 20px 0 20px;
                transform: translateX(100px);
                transition: transform  0.3s ease-in-out;
                &:hover {
                    z-index: 1;
                    transform: scale(1.1) translateX(125px);
                }
            }

            &:nth-child(3) {
                margin-top: -75px;
                border-radius: 20px 20px 0 20px;
                transform: translateX(100px);
                transition: transform  0.3s ease-in-out;
                a {
                    &:hover {
                        color: $color-primary-alt2; 
                    }
                }
                &:hover {
                    z-index: 1;
                    transform: scale(1.1) translateX(125px);
                }
            }

            &:nth-child(4) {
                margin-top: -100px;
                border-radius: 20px 20px 20px 0;
                transform: translateX(-100px);
                transition: transform  0.3s ease-in-out;
                &:hover {
                    z-index: 1;
                    transform: scale(1.1) translateX(-125px);
                }
            }
        }

        ul {
            transform: translateX(-100px);
            width: 400px;
            margin-right: 700px;
            margin: 0 auto; /* Center the paragraph horizontally */
            margin-top: -100px;
            border: 5px solid $color-background;
            list-style-type: none;
            background-color: $color-primary;
            padding: 10px;
            border-radius: 20px 20px 20px 0;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center the list items horizontally */
            flex-wrap: wrap;
            transition: transform 0.3s ease; /* Add transition for hover effect */
            transform-origin: center bottom; /* Set scaling origin */
            transition: transform  0.3s ease-in-out;
            &:hover {
                z-index: 1;
                transform: scale(1.1) translateX(-125px);
            }
        }

        a {
            color: $color-secondary;
            text-decoration: none;
            transition: color 0.3s ease;
            width: 100%;
            border-radius: 5px;
            p

            &:hover {
                color: lighten($color-background, 10%);
            }

            svg {
                width: 20px;
                height: 20px;
                fill: $color-secondary;
                margin-right: 5px;
                &:hover {
                    fill: lighten($color-background, 10%);
                }
            }
        }
    }
}
