// Header Styles
header {
  color: skyblue;
  background-image: url("/images/Grass_Block.webp"); // Set your desired background image
  background-repeat: repeat-x; // Repeat background image horizontally but not vertically
  background-size: contain; // Make the background image size fit the container
  font-family: var(--font-family);
  display: flex;
  justify-content: center; // Center content horizontally
  align-items: center; // Center content vertically

  .container {
    background-color: rgba(0, 0, 0, 0.578);
    width: 100%;
    display: flex;
    flex-direction: column; // Apply flex column
    align-items: center; // Center content horizontally

    h1 {
      font-size: var(--font-size-h1); // Use font size from theme
      font-weight: var(--font-weight-strong); // Set font weight
    }

    h2 {
      font-size: calc(var(--font-size-h2) * 0.75); // Adjust the font size by multiplying it to make it smaller
      font-weight: var(--font-weight-strong); // Set font weight
      margin-bottom: 10px; // Adjust margin as needed
    }

    .link-github {
      display: flex;
      align-items: center; // Center SVG vertically

      svg {
        width: 20px; // Set SVG width
        height: 20px; // Set SVG height
        fill: $color-background; // Set your desired icon color
        margin-right: 10px; // Adjust margin as needed
      }
    }
  }
}
