/* Apply the background image to the body */
body {
  position: relative; /* Make the body a positioning context */
}

/* Create a pseudo-element to simulate the background image */
body::before {
  content: ""; /* Required for pseudo-elements */
  position: fixed; /* Fix the pseudo-element to the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire viewport */
  height: 100%;
  z-index: -1; /* Move the pseudo-element behind other content */
  background-image: url("/images/render1.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8; /* Adjust the opacity as needed */
}

/* Adjust padding as needed */
.page-content {
  padding: 20px;
  z-index: 1; /* Ensure content is above the pseudo-element */
}

.profile {

}

.profile-title {

}

.profile-author {
}

.profile-twitter {
}

.profile-website {
}

.features {

}

#main {
}

#guidelines{

}

#contribute {
}

#profile-title{

}

#styles {

}

.container {
  display: block;
}

article {
  display: block;
  color: lightgrey;
  background-color: rgba(23, 23, 23, 0.65);
  text-align: center;
  padding: 20px;
  border-radius: 25px;
}