/* Apply the background image to the body */
body {
  position: relative; /* Make the body a positioning context */
}

/* Create a pseudo-element to simulate the background image */
body::before {
  content: ""; /* Required for pseudo-elements */
  position: fixed; /* Fix the pseudo-element to the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire viewport */
  height: 100%;
  z-index: -1; /* Move the pseudo-element behind other content */
  background-image: url("/images/render1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body .skip-link {
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent line breaks */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  border-radius: 0px 0px 100px 0px; /* Apply border-radius */
  background-color: $color-sky;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  &:hover {
    width: 150px;
    height: 150px;
    border-radius: 0px 0px 150px 0px;
    white-space: wrap;
  }
}

/* Target the scrollbar track */
/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}


main {

  background-color: $transparent;
}

/* Adjust padding as needed */
.page-content {
  //padding: 20px;
  z-index: 1; /* Ensure content is above the pseudo-element */
}

#guidelines > .container > * {
  background-image: url("/images/Ice_Block_transparent90.png");
  padding: 20px;

  &:nth-child(2) {
    background-image: url("/images/Water_Block_transparent80.png");
  }

  &:nth-child(3) {
    background-image: url("/images/Green_Block.png");
  }

  &:nth-child(4) {
    background-image: url("/images/Desert_Block.png");
  }
  &:nth-child(5) {
    background-image: url("/images/Lava_Block.png");
  }
}

#guidelines {
  //margin: 20px;
  margin-top: 50px;
  .container{
    display: grid;
    grid-template-columns: auto;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    text-align: left;

    p {
      width: $block_size*3.75;
      height: $block_size*3.75;
      background-size: contain;
      box-shadow: 5px 5px 5px 0px $color-background;
      text-shadow: 1px 1px 1px $color-background;
      color: $color-background;
      border: 3px solid $color-background;
      transition: transform 0.3s ease-in-out;
    }

    h2, h3 {
      width: $block_size*3.75;
      height: $block_size*3.75;
      background-size: contain;
      border: 3px solid $color-background;
      box-shadow: 5px 5px 5px 0px $color-background;
      text-shadow: 1px 1px 1px $color-background;
      color: $color-background;
      transition: transform 0.3s ease-in-out;
    }

    a {
      margin: 10px 0px 10px 00px;
      height: 50px;
    }
  }

  .container :last-child {
    padding: 0%;
  }

  @media (min-width: 1000px) { /* Adjust the breakpoint as needed */
    
    .container :last-child {
      grid-column: 2; /* Place the last element in the second column */
    }

    .container {
      grid-template-columns: repeat(2, auto); /* Adjusted for three columns on desktop */
    }
  }
  
  @media (min-width: 1500px) {
    
    .container :last-child {
      grid-column: 2;
    }

    .container {
      grid-template-columns: repeat(3, auto);
    }
  }
}

.container {
  display: block;
}

article {
  display: block;
  color: lightgrey;
  //background-color: $transparent;
  text-align: center;
  border-radius: 25px;
}

#contribute {
  margin-top: 50px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      background-image: url("/images/Water_Block_transparent80.png");
      background-size: contain;
      color: $color-background;
      padding: 20px;
      text-shadow: 1px 1px 1px $color-background;
      transition: transform 0.3s ease-in-out;
      text-align: center;
      width: 40ch;
      a {
        margin: 10px 0px 10px 00px;
      }

      &:nth-child(2) {
        background-image: url("/images/Green_Block.png");
      }
    }

  }

  .container:nth-child(1) {
    order: 1;
  }

  .container:nth-child(2) {
    order: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    h3 {
      margin-top: 50px;
      margin-right: 50px;
      width: 400px;
      height: 300px;
      border-radius: 50%;
      box-shadow: 20px -20px 0 0 $color-primary;
      display: flex;
      justify-content: center;
      align-items:center;
    }

    h3::before,
    h3::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 300px;
      background-image: url('/images/Wood_Block_light.png');
      background-size: contain;
      background-color: $color-primary; /* Change this to your desired color */
      z-index: -1;
      transform: rotate(45deg);
    }

    ol {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      padding: 0;
  
      li {
        position: absolute;
        background-color: $color-primary;
        border-radius: 0 100px 100px 0;
        color: $color-primary;
        width: 50px;
        height: 50px;
        text-align: left;
        box-shadow: 5px 5px 10px 1px $color-background;
        padding: 30px;
        padding-left: 60px;
        margin-left:-50px;
        overflow: hidden;

        &:nth-child(1) {
          transform: translateY(100px);
        }
        &:nth-child(2) {
          transform: translateY(50px);
        }
        &:nth-child(3) {
          transform: translateY(0px);
        }
        &:nth-child(4) {
          transform: translateY(-50px);
        }

        a {color: $color-primary;}
          transition: height 0.5s ease-in-out, width 0.2s ease-in-out, background-color 0.5s ease-in-out;
          &:hover {
            //transform: translateY(-100px);
            height: 150px;
            width: 65%;
            z-index: 50;
            color: $color-background;
          }
          &:hover a {
            color: $color-secondary;
          }
      }
    }
  }

  footer:nth-child(3) {
    margin-top: 250px;
    z-index: 50;
    order: 3; /* Third column remains third */
    .container {
      transform: translateY(-100px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 0px;

      h3 {
        background-image: url("/images/Ice_Block_transparent90.png");
        margin-right: 10px;
        width:$block_size;
        height: $block_size;
        background-size: contain;
        color: $color-background;
        text-shadow: 1px 1px 1px $color-background;
        transition: transform 0.3s ease-in-out;
          &:hover {
            color: $color-secondary;
            transform: scale(1.1);
          }
      }

      a {
        background-image: url("/images/Desert_Block.png");
        width:$block_size;
        height: $block_size;
        margin: 10px;
        background-size: contain;
        box-shadow: 5px 5px 5px 0px $color-background;
        text-shadow: 1px 1px 1px $color-background;
        color: $color-background;
        transition: transform 0.3s ease-in-out;
          &:hover {
            color: $color-secondary;
            transform: scale(1.1);
          }

        &:nth-child(2) {
          background-image: url("/images/Water_Block_transparent80.png");
          color: $color-primary;
          transition: transform 0.3s ease-in-out;
          &:hover {
            color: $color-primary-alt;
            transform: scale(1.1);
          }
        }

        &:nth-child(3) {
          background-image: url("/images/Green_Block.png");
          color: $color-primary;
          transition: transform 0.3s ease-in-out;
          &:hover {
            color: $color-primary-alt;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

// MOBILE VIEW
@media screen and (max-width: 768px) {
  #guidelines {
    .container {
      grid-template-columns: auto; /* Adjusted for one column on mobile */
    }
  }

  #contribute {
    .container:nth-child(2) {
      flex-direction: column;
      h3 {
        margin-top: 0px;
        margin-right: 0px;
        width: 100%;
        height: 300px;
        border-radius: 0%;
        box-shadow: 0px 0px 0 0 $color-primary;
        display: flex;
        justify-content: center;
        align-items:center;
      }

      h3::before,
      h3::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 300px;
        background-image: url('/images/Wood_Block_light.png');
        background-size: contain;
        background-color: $color-primary; /* Change this to your desired color */
        z-index: -1;
        transform: rotate(45deg);
      }

      ol {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0;
    
        li {
          position: absolute;
          background-color: $color-primary;
          border-radius: 0 100px 100px 0;
          color: $color-primary;
          width: 50px;
          height: 50px;
          text-align: left;
          box-shadow: 5px 5px 10px 1px $color-background;
          padding: 30px;
          padding-left: 60px;
          margin-left:-50px;
          overflow: hidden;
  
          &:nth-child(1) {
            transform: translateY(100px);
          }
          &:nth-child(2) {
            transform: translateY(50px);
          }
          &:nth-child(3) {
            transform: translateY(0px);
          }
          &:nth-child(4) {
            transform: translateY(-50px);
          }
  
          a {color: $color-primary;}
            transition: height 0.5s ease-in-out, width 0.2s ease-in-out, background-color 0.5s ease-in-out;
        }
      } 
    } 
  } 
  .skip-link {
    display: none; // Hide the skip link
  }

  //Cancel out hover effect on mobile
  body .skip-link:hover {
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border-radius: 0px 0px 100px 0px; /* Apply border-radius */
    background-color: $color-sky;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  }
  
  a:hover a {
    color: $color-primary;
  }

  h3:hover {
    background-image: url("/images/Ice_Block_transparent90.png");
    margin-right: 10px;
    width:$block_size;
    height: $block_size;
    background-size: contain;
    color: $color-background;
    text-shadow: 1px 1px 1px $color-background;
    transition: transform 0.3s ease-in-out; 
  }
}
