.profile {
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  
  .container {
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center the container horizontally */
  
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center; /* Center the grid horizontally */
      align-items: center; /* Center the grid vertically */
  
      li {
        width: 300px;
        height: 300px;
        border-radius: 50% 50% 50% 0;
        margin: 0px;
        display: flex; /* Use flexbox to center contents */
        justify-content: center; /* Center contents horizontally */
        align-items: center; /* Center contents vertically */
        
        &:nth-child(1) {
          background-color: $color-primary-alt; /* Set your desired color */
          border-top: $color-secondary 5px solid;
          border-right: $color-secondary 5px solid;
          transform: rotate(-90deg);

          &:hover {
            z-index: 1;
            transform: scale(1.2) rotate(90deg);
            transition: transform 0.5s ease-in-out;
            span {
              transform: rotate(-90deg);
              transition: transform 0.5s ease-in-out;
            }
          }

          span {
            transform: rotate(90deg);
          }
        }
        
        &:nth-child(2) {
          background-color: $color-secondary; /* Set your desired color */
          border-top: $color-primary-alt 5px solid;
          border-right: $color-primary-alt 5px solid;
          display: flex;
          flex-direction: column;

          &:hover {
            z-index: 1;
            transform: scale(1.2) rotate(180deg);
            transition: transform 0.5s ease-in-out;
            span {
              transition: transform 0.5s ease-in-out;
              transform: rotate(-180deg);
            }
          }
        }
  
        &:nth-child(3) {
          background-color: $color-secondary; /* Set your desired color */
          border-top: $color-primary-alt 5px solid;
          border-right: $color-primary-alt 5px solid;
          transform: rotate(-180deg);

          &:hover {
            z-index: 1;
            transform: scale(1.2) rotate(-360deg);
            transition: transform 0.5s ease-in-out;
            span {
              transition: transform 0.5s ease-in-out;
              transform: rotate(0deg);
            }
          }

          span {
            transform: rotate(180deg);
          }
        }
        
        &:nth-child(4) {
          background-color: $color-primary-alt; /* Set your desired color */
          border-top: $color-secondary 5px solid;
          border-right: $color-secondary 5px solid;
          transform: rotate(90deg);

          &:hover {
            z-index: 1;
            transform: scale(1.2) rotate(270deg);
            transition: transform 0.5s ease-in-out;
            span {
              transition: transform 0.5s ease-in-out;
              transform: rotate(90deg);
            }
          }

          span {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  .profile-twitter span:first-child {
    position: relative; /* Set position relative to allow absolute positioning of pseudo-element */
    display: inline-block; /* Ensure the span occupies only the necessary space */
  }
  
  .profile-twitter span:first-child::before {
    content: ""; /* Ensure the pseudo-element has no content */
    position: absolute; /* Position the pseudo-element relative to its parent */
    left: 0; /* Align the pseudo-element to the left edge of its parent */
    top: 50%; /* Align the pseudo-element vertically */
    transform: translateY(-50%); /* Center the pseudo-element vertically */
    width: 20px; /* Set the width of the pseudo-element */
    height: 20px; /* Set the height of the pseudo-element */
    background-image: url('/images/icons8-twitterx.svg'); /* Set the background image of the pseudo-element to the Twitter icon */
    background-size: cover; /* Ensure the background image covers the pseudo-element */
  }
  
  .profile-twitter span:first-child {
    overflow: hidden; /* Hide any overflowing content */
    white-space: nowrap; /* Prevent wrapping of text */
    text-indent: 100%; /* Push the text content off-screen */
  }

  #profile-title {
    margin-bottom: 15px; /* Add space below the title */
    color: #333; /* Set title color */
    font-size: $font-size-h4;
  }

  ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */

    li {
      margin-bottom: 10px; /* Add space between list items */
      font-size: 16px; /* Set font size for list items */
    }

    span {
      margin-right: 5px; /* Add space between spans */
    }

    a {
      color: #007bff; /* Set link color */
      text-decoration: none; /* Remove default underline */
      transition: color 0.3s ease; /* Add smooth transition for color change */

      &:hover {
        color: #0056b3; /* Change link color on hover */
      }
    }
  }
}
