#styles {
    .container {
      background-color: $transparent;
      margin: 0 auto;
      h2 {
        padding-top: 50px;
        z-index: 50;
        text-align: center;
        color: $color-primary-alt2;
        text-shadow: 2px 2px 0px $color-background2;
      }
  
      ul.features {
        align-items: center;
        display: flex;
        justify-content: center; /* Center the grid horizontally */
        align-items: center; /* Center the grid vertically */
        list-style: none;
        padding: 0;
        margin: 20px;
        margin-top: 150px;
        height: 400px;
  
        li {
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 50% 0 50% 0;
          margin: 0px;
          display: flex; /* Use flexbox to center contents */
          margin-right: -80px;
          background-image: linear-gradient(to right, rgba(255, 0, 0, 0.892), rgba(255, 255, 0, 0.859));
          //background-image: url('/images/Lava_Block.png');
          background-size: contain;
          
          span {
            display: none;
          }
          
  
          &:nth-child(1) {
            z-index: 3;
            background-color: $color-background2; /* Set your desired color */
            border-top: $color-primary-alt2 10px solid;
            border-right: $color-primary-alt2 10px solid;
            transform: translateX(30px);
            animation: gradientgrow 0.75s ease-in-out infinite alternate;
            @keyframes gradientgrow {
              0% {
                transform: translateX(30px) scale(1.0);
                opacity: 1;
              }
              100% {
                transform: translateX(30px) scale(1.05);
                opacity: 0.85;
              }
            }
          }
  
          &:nth-child(2) {
            z-index: 1;
            background-color: $color-primary-alt2;
            border-top: $color-background2 10px solid;
            border-right: $color-background2 10px solid;
            transform: rotate(-45deg) translateY(-70px) translateX(30px);
            animation: gradientgrow2 0.75s ease-in-out infinite alternate;
            @keyframes gradientgrow2 {
              0% {
                transform: rotate(-45deg) translateY(-70px) translateX(30px) scale(1.0);
                opacity: 1;
              }
              100% {
                transform: rotate(-45deg) translateY(-70px) translateX(30px) scale(1.05);
                opacity: 0.85;
              }
            }
          }
  
          &:nth-child(3) {
            z-index: 2;
            background-color: $color-background2;
            border-top: $color-primary-alt2 10px solid;
            border-right: $color-primary-alt2 10px solid;
            transform: translateX(-100px) rotate(-90deg);
            animation: gradientgrow3 0.75s ease-in-out infinite alternate;
            @keyframes gradientgrow3 {
              0% {
                transform: translateX(-100px) rotate(-90deg) scale(1.0);
                opacity: 1;
              }
              100% {
                transform: translateX(-100px) rotate(-90deg) scale(1.05);
                opacity: 0.85;
              }
            }
          }
        }
      }

      .link-allstyles {
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        position: relative;
        padding-top: 60px;
        transform: translateY(-100px);
        z-index: 50;
        width: 400px; /* Adjust width as needed */
        height: 600px; /* Adjust height as needed */
        margin-left: auto;
        margin-right: auto;
        font-size: $font-size-h2*1.2;
        font-family: 'minecraft-title';
        display: block;
        text-align: center;
        text-shadow: 2px 2px 0px $color-background;
        background-image: url("/images/Wood_Block_light.png");
      }
      
      .link-allstyles::before {
          content: '';
          position: absolute;
          top: 200px; /* Adjust top position to control the width of the top */
          left: 0;
          width: 100%; /* Make it stretch across the width */
          height: 100px; /* Adjust height as needed */
          background-color: $color-primary; /* Adjust color as needed */
          transform: skewY(-20deg); /* Adjust skew angle as needed */
          z-index: -1; /* Move it behind the main content */
      }    
    }
  }