
#styles {
    
}

#styles {
    .container {
      margin: 0 auto; /* Center the container horizontally */
      background-color: $transparent;
      border-radius: 25px;
      h2 {
        padding-top: 50px;
        z-index: 50;
        text-align: center;
        color: $color-background;
        color: $color-primary;
        text-shadow: 2px 2px 0px $color-background;
      }
  
      ul.features {
        align-items: center;
        display: flex;
        justify-content: center; /* Center the grid horizontally */
        align-items: center; /* Center the grid vertically */
        list-style: none;
        padding: 0;
        margin: 20px;
        margin-top: 200px;
        height: 400px;
  
        li {
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 50% 0 50% 0;
          margin: 0px;
          display: flex; /* Use flexbox to center contents */
          margin-right: -80px;
          span {
            display: none;
          }
          
  
          &:nth-child(1) {
            z-index: 1;
            background-color: $color-background2; /* Set your desired color */
            border-top: $color-primary-alt2 10px solid;
            border-right: $color-primary-alt2 10px solid;
            transform: translateX(30px);
            transition: transform 0.3s ease-in-out;
            &:hover {
              transform: rotate(45deg) translateX(90px);
            }
          }
  
          &:nth-child(2) {
            background-color: $color-primary-alt2;
            border-top: $color-background2 10px solid;
            border-right: $color-background2 10px solid;
            transform: rotate(-45deg) translateY(-70px) translateX(30px);
          }
  
          &:nth-child(3) {
            background-color: $color-background2;
            border-top: $color-primary-alt2 10px solid;
            border-right: $color-primary-alt2 10px solid;
            transform: translateX(-100px) rotate(-90deg);
          }
        }
      }
  
      .link-allstyles {
        z-index: 50;
        color: $color-primary;
        position: relative;
        transform: translateY(-200px);
        font-size: $font-size-h3;
        text-decoration: none;
        display: block;
        text-align: center;
        margin-top: 20px;
        color: $color-primary;
        text-shadow: 3px 3px 0px $color-background;
        transition: color 0.3s ease;
        &:hover {
          color: $color-primary-alt;
          text-shadow: 2px 2px 0px $color-background;
        }
      }
    }
  }
  

.features {
    
}