body {
  color: var(--color-text);
  font-family: var(--font-family);
  background-image: url("/stylestage-sass-main/public/images/render1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Keep background stationary */
  overflow: hidden; /* Hide the scrollbar for all directions */
}

.profile {

}

.profile-title {

}

.profile-author {
}

.profile-twitter {
}

.profile-website {
}

.features {

}

#main {
}

#guidelines{

}

#contribute {
}

#profile-title{

}

#styles {

}