header {
  background-color: var(--color-darken);
  color: var(--color-primary);
  text-align: center;
  padding: 2rem 1rem;

  h1 {
    font-family: fantasy;
    font-size: 3rem;
    font-weight: 300;
  }
}
